[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[pull]
	autoSetupRemote = true
	rebase = true

[rebase]
	updateRefs = true

[fetch]
	prune = true
	writeCommitGraph = true

[rerere]
	enabled = true

[core]
	editor = nvim

[diff]
	algorithm = histogram
	colorMoved = default

[merge]
	conflictstyle = zdiff3

[branch]
	sort = -committerdate

[column]
	ui = auto

[user]
	name = Tushar Patil
	email = patiltushar80@yahoo.com
